@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');


*:focus {
    outline: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.5em;
    user-select:none;
    width:100vw;
    height:100vh;
    background-color: #0D1117;
    color:white;
}
.App{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.Search{
    display: flex;
    height: 2.7em;
    width: 100%;
    justify-content: center;
    margin-top: 6%;
}
.searchBar{
    border-radius: 10px;
    width: 38%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
.searchInput{
    height:auto;
    border-radius: 10px;
    width: 65.5%;
    font-size: 1em;
    border: none;
    margin: 0;
    border:1px solid #59595a;
    background-color: #0D1117;
    color:white;
    padding: 20px;
}
.searchButton{
    border-radius: 10px;
    width: 22.5%;
    border: none;
    background-color: #0D1117;
    font-size: 0.75em;
    font-weight: 600;
    color:white;
    border:1px solid #59595a;
}
.Main{
    padding: 10px;
    margin: auto;
    margin-top: 1%;
    border-radius: 10px;
    width: 38%;
    display: flex;
}
.userImage{
    margin: auto;
    border-radius: 50%;
    height: 7em;
    width: 7em;
    border:1px solid rgb(204, 204, 204);
}
.mainUserData{
    padding-left: 20px;
}
.name{
    color: #C9D1D9;
    font-size: 1em;
    font-weight: 600;
}
.username{
    color: #59595a;
    font-size: 0.8em;
    font-weight: 300;
    padding-bottom: 15px;
}
.bio{
    color: #C9D1D9;
    font-size: 0.65em;
    padding-bottom: 15px;
}
.userDataDesc{
    font-size: 0.65em;
    color: #C9D1D9;
    padding-bottom: 5px;
}

.userDataIcon{
    padding-right: 15px;
    color: #C9D1D9;
}
.showRepo{
    height:auto;
    border-radius: 10px;
    width: 80%;
    border: none;
    background-color: #21262D;
    font-size: 0.65em;
    font-weight: 600;
    color:white;
    border:1px solid #59595a;
    margin-top:15px;
    padding: 10px;
}
.DisplayRepoData{
    display: flex;
    flex-direction: column;

}